<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"/>
    <!-- This above url will look like "/static/main.css" in your browser -->
    
    <title>To Do</title>
  </head>
  <body>

    <div class="container-fluid">
        <h1 class="display-1">To Do Task Manager</h1>
        <div id="buttons">
            <button type="button" onClick="location.href='/login'" class="btn btn-primary btn-lg m-2" >Log In</button>
            <button type="button" onClick="location.href='/signup'" class="btn btn-outline-dark btn-lg m-2" >Sign Up</button>
        </div>
    </div>
    {% block body %}
    {% endblock %}

    <!-- Necessary for JSX -->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <!-- React libraries. This is not the right way to do it -->
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Our own code -->
    <script src="{{ url_for('static', filename='main.js')}}" type="text/babel" ></script>
    


  </body>


</html>
