{% extends "index.html" %}
{% block body %}

<h2 class="display-2 text-center m-2">Sign Up</h2>
<form class="row justify-content-center g-3 m-2" action="{{url_for('joinin.signUp')}}" method="POST">
    <div class="col-6" m-2>
        <input type="text" name="name" class="form-control" placeholder="Full name" aria-label="Full name">
    </div>
    <div class="row justify-content-center g-3">
        <div class="col-3">
            <input type="text" name="email" class="form-control" placeholder="Email" aria-label="Email">
        </div>
        <div class="col-3">
            <input type="text" name="password" class="form-control" placeholder="Password" aria-label="Password">
        </div>
    </div>
    <div class="col-md-12 text-center">
        <button type="submit" class="btn btn-primary m-2">Sign Up</button>
    </div>
</form>
{% endblock %}
    